* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.header {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 43px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}
.nav li {
    display: inline-block;
    justify-content: space-evenly;
    list-style: none;
    padding: 12px;
}
.banner {
    display: flex;
    padding-top: 80px;
}
.left-side {    
    padding: 52px 1px 1px 1px;
}
.left-side p {
    padding: 19px 0px;
    font-size: 13px;
}
.btn {
    padding: 5px 21px;
    border-radius: 34px;
    border: none;
    background-color: #e02c6d;
    color: white;
    
}
.right-side img {
    width: 350px;
    margin-left: 211px;
    border: 3px solid #f7f1ff;
    border-radius: 50%;
}
/* Main section start */
.sponsor-logo {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    border: 2px solid rgb(244, 241, 241);
    padding: 12px;
    margin-top: 70px;
}
.popular-collection-container {  
    width: 90%;  
    margin: 0 auto;
    /* margin-top: 80px; */
    text-align: center;
    color: #706e73;
  
}
.popular-collection-container h1 {  
  margin: 34px 12px;
}
.popular-collection { 
    width: 90%; 
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
   
    
  
}
.popular-collection .item-01 {
    
    margin: 0 auto;
    border: 1px solid rgb(236, 227, 227);
    width: 200px;
    height: 300px;
    box-shadow:  2px 13px 10px #dad7d7;
    
   
}
.popular-collection .item-01 img {
    width: 180px;
    margin: 10px 10px 9px 8px;
}
.popular-collection h1 {
    font-size: 1.7rem;
    margin-top: 100px;
    padding-left: 200px;
    font-weight: 400;
    
}
.popular-collection h3, h4 {
    font-weight: 100;
    color: #706e73;
    padding-left: 9px;    
}
.popular-collection p {
   
    color: #706e73;   
    font-size: 12px; 
    padding: 5px;
    padding-left: 9px; 
}
#star {
    color: orange;
}
.see-more p {
    text-align: center;
    text-decoration: underline;
    width: 70%;
    padding: 12px;
    margin: 12px;
    color: rgba(224, 44, 109, 0.87);
    font-weight:140;
}

.feature {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 33px 7px 12px 12px;
}
.feature img {
   width: 300px;
   height: 200px;
}
.feature-product {
    margin-left: 54px;
    padding: 9px;
}
.feature-product p {
    font-size: 12px;
    padding: 9px;
  
}
.feature-product button {
   margin: 9px;
    padding: 4px 15px;
    font-size: 12px;
    background-color: rgba(224, 44, 109, 0.87);
    border: none;
    color: white;
}
/* Main section end */
/* Footer section start */
.footer {
    width: 100%;
    background-color: #0a0826;
    color: white;
    text-align: center;
}
.social-logo {
    display: flex;
    justify-content: center;
    padding: 11px;  
    margin: 2px 1px 1px 1px;  
}
.footer h1 {
    padding: 19px 6px 19px 6px;    
}
.footer, h2, h3 {
   font-size: 11px;    
}
.youtube, .twitter, .instagram, .instagram {
    margin-right: 34px;
    padding-bottom: 23px;
}


/* Footer section End */







/* Media Quary  */
@media screen and (max-width: 576px) {
    /* Navbar and banner quary start */
    .navbar {
        display: flex;
        flex-direction: column;
    }
    .banner {
        flex-direction: column-reverse;
        text-align: center;

    }
    .banner img {
        margin-left: 0px;
    }

    .banner p {
        font-size: 10px;
    }
    .header {
        width: 90%;
        
    }
    /* Navbar and banner quary end here */

      /* Main section start */
    .sponsor-logo {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border: none;
    }
    .sponsor-logo img {
       width: 80%;
       margin: 6px;
    }
     
  
    /* .popular-collection */
    .popular-collection {      
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 1px 12px 18px 22px;
        padding: 0px;
        justify-content: center;      
    }
    
    .popular-collection-container .item-01 {
        margin-left: 5px;
    }
     
    /* Product and Freature quary start*/
      .feature {
        display: flex;
        flex-direction: column-reverse; 
        width: 100%;       
    }
      .feature-product {
        text-align: center;        
        margin-left: 14px;
    }
      .feature-product h2 {
        font-size: 20px;
    }
    .feature img {
        margin-left: 25px;
    }
     /* Product and Freature quary end */
     /* Footer qurary start */


     /* Footer qurary end */
}