* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.header {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 43px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}
.nav li {
    display: inline-block;
    justify-content: space-evenly;
    list-style: none;
    padding: 12px;
}
.banner {
    display: flex;
    padding-top: 80px;
}
.left-side {    
    padding: 52px 1px 1px 1px;
}
.left-side p {
    padding: 19px 0px;
    font-size: 13px;
}
.btn {
    padding: 5px 21px;
    border-radius: 34px;
    border: none;
    background-color: #e02c6d;
    color: white;
    
}
.right-side img {
    width: 350px;
    margin-left: 211px;
    border: 3px solid #f7f1ff;
    border-radius: 50%;
}
/* Main section start */
.sponsor-logo {

}
.sponsor-logo {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    border: 2px solid rgb(244, 241, 241);
    padding: 12px;
    margin-top: 70px;
}






/* Main section end */







/* Media Quary  */
@media screen and (max-width: 576px) {
    /* Navbar and banner quary start */
    .navbar {
        display: flex;
        flex-direction: column;
    }
    .banner {
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner img {
        margin-left: 0px;
    }

    .banner p {
        font-size: 10px;
    }
    .header {
        width: 90%;
        
    }
    .sponsor-logo {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border: none;
    }
    .sponsor-logo img {
        padding: 5px;
    }
      /* Navbar and banner quary end here */
}